.metadata/
Arvores/.cproject
Arvores/.project
Arvores/Debug
Arvores/Release
Aula_10_maio_2010_heap/.cproject
Aula_10_maio_2010_heap/.project
Aula_10_maio_2010_heap/Debug
Aula_14_junho_2010_hash/.cproject
Aula_14_junho_2010_hash/.project
Aula_14_junho_2010_hash/Debug/
Arvores_Binarias/.cproject
Arvores_Binarias/Debug/
Arvores_Binarias/.project
